@use "product-page";
@use "cart-page";
@use "checkout-page";
@use "_main-page";

@import "fonts";
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

header{
  position: relative;
}
.header__container {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  padding: 0;

}
.header__cart{
  justify-content: center;
  width: 30px;
  height: 30px;
}
.header__cart img{
  width: 45px;
  height: 45px;

}
.header__logo{
  display: flex;
  padding: 0;
  margin: 0;
  height: auto;
  overflow: hidden;
  justify-content: center;

  &-image{
    width: 500px;
  }
}

input {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
}
select {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}